/home/zoraaga/alx-higher_level_programming/0x05-python-exceptions/6-main.py
/home/zoraaga/alx-higher_level_programming/0x05-python-exceptions/5-main.py
/home/zoraaga/alx-higher_level_programming/0x05-python-exceptions/4-main.py
/home/zoraaga/alx-higher_level_programming/0x05-python-exceptions/3-main.py
/home/zoraaga/alx-higher_level_programming/0x05-python-exceptions/2-main.py
/home/zoraaga/alx-higher_level_programming/0x05-python-exceptions/1-main.py